<!doctype html>
<html ng-app="MainApp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{title}}</h1>
        {{!base}}
      </div>
    </div>
    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/js/MainApp.directives.js"></script>
    <script src="/static/js/MainApp.controllers.js"></script>
    <script src="/static/js/MainApp.module.js"></script>
  </body>
</html>