% rebase('base.tpl', title='Generate URL')

<div ng-controller="MainCtrl">
    <form novalidate class="shrink-url">
        <input type="text" ng-model="url" ng-minlength="5" value="www.example.com" />
        <input type="button" ng-click="shirink(url)" value="Save" prevent-default />
    </form>
</div>
